.skills {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    margin-bottom: 10rem;
}

h3 {
    margin-bottom: 1.5rem;
    color: var(--color-blue-flair);
}

.skillcard {
    background-color: var(--card-background);
    color: var(--color-french-gray);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.skillcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--color-blue-flair);
}

.entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.entries .side {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.entries .side:hover {
    color: var(--color-blue-flair);
    border-color: var(--color-blue-flair);
    box-shadow: 0 0 15px var(--color-blue-flair), 0 0 30px rgba(71, 59, 240, 0.6);
    transform: translateY(-5px);
}

/* Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    color: var(--color-blue-flair) !important;
    font-size: 1.5rem;
    background: none;
    border: none;
    outline: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--text-color);
    transform: scale(1.2);
    transition: transform 0.3s ease, color 0.3s ease;
}

.swiper-pagination-bullet {
    background: var(--color-blue-flair) !important;
}
