.about {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto; /* centers the section horizontally s*/
    margin-bottom: 10rem;
    scroll-margin-top: 3rem; /* Added this line */
}

.side {
    display: flex; /* makes items go side by side */
    align-items: center; /* vertically aligns items */
    gap: 50px; /* adds space between the image and the text*/
}

.side img {
    max-width: 400px;
    height: auto;
    border-radius: 12px;
}

.side p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .side {
        flex-direction: column-reverse; /* Stacks items vertically, text on top */
        gap: 2rem;
    }

    .side img {
        max-width: 80%; /* Makes the image smaller on mobile */
        margin-bottom: 1rem;
    }

    .side p {
        font-size: 0.9rem; /* Slightly smaller text for mobile */
        text-align: center;
    }
}
