.about {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto; /* centers the section horizontally s*/
    /* margin-bottom: clamp(10rem, 0vw, rem); */
    margin-bottom: 10rem;
    scroll-margin-top: 3rem; /* Added this line */
}

.side {
    display: flex; /* makes items go side by side */
    align-items: center; /* vertically aligns items */
    gap: 50px; /* adds space between the image and the text*/
}

.side img {
    max-width: 400px;
    height: auto;
    border-radius: 12px;
}

.side p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
}