.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: -100vh;
    z-index: 0;
    overflow: wrap;
    pointer-events: none;
}

.typewriter {
    color: red;
    font-weight: 'bold';
}

.home h3 {
    pointer-events: auto;
}

.home a {
    margin-top: 1rem;
    pointer-events: auto;
}