.navbar {
    background-color: var(--color-charcoal-gray); /*#121212*/
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--color-slate-blue);
    opacity: 0.92;
    border-radius: 8px;
    justify-self: center;
    width: 95%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: var(--color-french-gray);
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-french-gray);
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    font-size: 1.08rem;
    /* letter-spacing: 1px; */
}

a:hover {
    color: var(--color-blue-flair);
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, var(--color-blue-flair), var(--color-slate-blue));
    transition: width 0.3s ease;
    border-radius: 2px;
}

a:hover::after {
    width: 100%;
}